#!/usr/bin/env python
# Module:   MNAME.py
# Purpose:  PURPOSE
# Date:     N/A
# Notes:
# 1) ...
# Ref:  any references
#
"""Docstring for top-level"""

def some_func():
    """some_func docstring goes here"""
    pass

def mname_func():
    """mname_func docstring goes here"""
    print __doc__
    # implement the main function here
    some_func()

if __name__ == "__main__":
    mname_func()
