#!/usr/bin/env python
# Module:   MNAME.py
# Purpose:  PURPOSE
# Date:     N/A
# Notes:
# 1) ...
# Ref:  any references
#
"""Docstring"""

def MNAME():
    pass

if __name__ == "__main__":
    MNAME()
